Repository Pkonline123/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, pachca-notification-backend, pachca-notification-frontend

.gitlab-ci.yml:

variables:
  SECURE_LOG_LEVEL: "debug"

stages:
  - build
  - notify
  - test

include:
  - template: Security/SAST.gitlab-ci.yml

build-backend-code-job:
  stage: build
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package "-Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository clean install"
  artifacts:
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar 
      - ${CI_PROJECT_DIR}/.m2/ # сохранение зависимостей для SAST

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

spotbugs-sast:
  stage: test
  rules:
    changes:
      - backend/*
  variables:
    COMPILE: "false"
    SAST_JAVA_VERSION: 11
    MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository # не забудьте при сборке также указывать эту папку через аргумент -Dmaven.repo.local       

pachca-notification-backend:
  stage: notify
  only:
    changes:
    - backend/*
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"message\":\"Андрей Зачитайлов собрал backend. Артефакт https://gitlab.praktikum-services.ru/api/v4/projects/'$CI_PROJECT_ID'/jobs/artifacts/'$CI_COMMIT_BRANCH'/download?job=build-backend-code-job\"}' https://api.pachca.com/webhooks/01GHKAEEBHC027DJAH7CHPTVF1"
  needs:
    - build-backend-code-job

pachca-notification-frontend:
  stage: notify
  only:
    changes:
    - frontend/*
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"message\":\"Андрей Зачитайлов собрал frontend. Артефакт https://gitlab.praktikum-services.ru/api/v4/projects/'$CI_PROJECT_ID'/jobs/artifacts/'$CI_COMMIT_BRANCH'/download?job=build-frontend-code-job\"}' https://api.pachca.com/webhooks/01GHKAEEBHC027DJAH7CHPTVF1"
  needs:
    - build-frontend-code-job

sonarqube-test-back:
  stage: test
  image: maven:3.8-openjdk-18
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
        -Dsonar.projectName=13__ЗАЧИТАЙЛОВАНДРЕЙ_БЭКЭНД 
        -Dsonar.projectKey=${PROJECT_KEY_BACK}
        -Dsonar.host.url=${SONARQUBE_URL}
        -Dsonar.login=${LOGIN_BACK}


sonarqube-test-front:
  stage: test
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - cd frontend
    - >
      sonar-scanner
          -Dsonar.projectName=13_ЗАЧИТАЙЛОВАНДРЕЙ_ФРОНТЕНД
          -Dsonar.projectKey=${PROJECT_KEY_FRONT}
          -Dsonar.sources=.
          -Dsonar.host.url=${SONARQUBE_URL}
          -Dsonar.login=${LOGIN_FRONT}

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job, pachca-notification-backend

Update backend/pom.xml, settings.xml, .gitlab-ci.yml
  .gitlab-ci.yml
  backend/pom.xml
  settings.xml
Due: build-backend-code-job, pachca-notification-backend

Update .gitlab-ci.yml, backend/pom.xml
  .gitlab-ci.yml
  backend/pom.xml
Due: build-backend-code-job, pachca-notification-backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update backend/settings.xml Deleted settings.xml
  backend/settings.xml
Due: build-backend-code-job, pachca-notification-backend

Update backend/pom.xml
  backend/pom.xml
Due: build-backend-code-job, pachca-notification-backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update backend/.gitlab-ci.yml, frontend/.gitlab-ci.yml, .gitlab-ci.yml
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, pachca-notification-backend, pachca-notification-frontend

Update backend/.gitlab-ci.yml, backend/deploy.sh, backend/sausage-store-backend.service
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job, pachca-notification-backend

Update backend/deploy.sh
  backend/deploy.sh
Due: build-backend-code-job, pachca-notification-backend

Update backend/sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, pachca-notification-backend

Update frontend/sausage-store-frontend.service, frontend/deploy.sh, frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, pachca-notification-frontend

Update frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, pachca-notification-frontend

Update frontend/deploy.sh
  frontend/deploy.sh
Due: build-frontend-code-job, pachca-notification-frontend

Update frontend/deploy.sh, frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, pachca-notification-frontend

Update frontend/.gitlab-ci.yml, backend/.gitlab-ci.yml, .gitlab-ci.yml
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, pachca-notification-backend, pachca-notification-frontend

Update frontend/.gitlab-ci.yml, backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, pachca-notification-backend, pachca-notification-frontend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, pachca-notification-backend
