Repository Pkonline123/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
    - backend/target/sausage-store-${VERSION}.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

pachca-notification-backend:
  stage: notify
  script:
  ...

pachca-notification-frontend:
  stage: notify
  script:
  ...

ё12321
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

?!??!?!
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

22
  .gitlab-ci.yml
Due: none

??
  .gitlab-ci.yml
Due: none

"!
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

?
  backend-report/.gitlab-ci.yml
Due: none

3
  backend-report/.gitlab-ci.yml
Due: none

??
  backend-report/.gitlab-ci.yml
Due: none

test
  backend-report/.gitlab-ci.yml
Due: none

22
  backend-report/.gitlab-ci.yml
Due: none

11
  backend-report/.gitlab-ci.yml
Due: none

11322
  backend-report/.gitlab-ci.yml
Due: none

ilia
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

cor
  backend-report/.gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

323
  .gitlab-ci.yml
Due: none

cc
  .gitlab-ci.yml
Due: none

ff
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

gosec
  .gitlab-ci.yml
Due: none

?
  docker-compose.yml
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

magic
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

??
  docker-compose.yml
Due: none

done
  docker-compose.yml
Due: none

dhoasdma\pd
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

???
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

12321
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

done
  docker-compose.yml
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

ddd
  docker-compose.yml
Due: none

health
  backend/pom.xml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

blue/green
  docker-compose.yml
Due: none

?
  docker-compose.yml
Due: none

???
  docker-compose.yml
Due: none

12
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

deploy
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

test
  backend/backend_deploy.sh
  docker-compose.yml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

?
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

?
  backend/Dockerfile
  docker-compose.yml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  upload-backend-release: any of: backend/*
  upload-frontend-release: any of: frontend/*
  pachca-notification-backend: any of: backend/*
  pachca-notification-frontend: any of: frontend/*
