Repository Pkonline123/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

.gitlab-ci.yml:

variables:
  SECURE_LOG_LEVEL: "debug"
  VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - build
  - release
  - notify
  - test

include:
  - template: Security/SAST.gitlab-ci.yml

build-backend-code-job:
  stage: build
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
      - backend/target/sausage-store-${VERSION}.jar 
      - ${CI_PROJECT_DIR}/.m2/ # сохранение зависимостей для SAST

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

spotbugs-sast:
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - backend/*
  variables:
    COMPILE: "false"
    SAST_JAVA_VERSION: 11
    MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository # не забудьте при сборке также указывать эту папку через аргумент -Dmaven.repo.local
  needs:
    - build-backend-code-job      

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  only:
    changes:
    - frontend/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}" --upload-file sausage-store-${VERSION}.tar.gz ${NEXUS_REPO_URL}/sausage-store-zachitaylov-andrey-frontend/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz 

pachca-notification-backend:
  stage: notify
  only:
    changes:
    - backend/*
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"message\":\"Вышла новая версия backend сосисочной — '${VERSION}'. Скачать backend можно по ссылке ${NEXUS_REPO_URL}/sausage-store-zachitaylov-andrey-backend/com/yandex/practicum/devops/sausage-store/'${VERSION}'/sausage-store-'${VERSION}'.jar\"}' https://api.pachca.com/webhooks/01GHKAEEBHC027DJAH7CHPTVF1"
  needs:
    - build-backend-code-job

pachca-notification-frontend:
  stage: notify
  only:
    changes:
    - frontend/*
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"message\":\"Вышла новая версия frontend сосисочной — '${VERSION}'. Скачать frontend можно по ссылке ${NEXUS_REPO_URL}/sausage-store-zachitaylov-andrey-frontend/sausage-store/'${VERSION}'/sausage-store-'${VERSION}'.tar.gz\"}' https://api.pachca.com/webhooks/01GHKAEEBHC027DJAH7CHPTVF1"
  needs:
    - build-frontend-code-job

sonarqube-test-back:
  stage: test
  image: maven:3.8-openjdk-16
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
      -Dsonar.projectKey=${PROJECT_KEY_BACK}
      -Dsonar.host.url=${SONARQUBE_URL}
      -Dsonar.login=${LOGIN_BACK}
      -Dsonar.projectName=13__ЗАЧИТАЙЛОВАНДРЕЙ_БЭКЭНД
  cache:
    paths:
      - ${CI_PROJECT_DIR}/.m2/repository # для хранения зависимостей бэкенда


sonarqube-test-front:
  stage: test
  image: sonarsource/sonar-scanner-cli
  script:
    - cd frontend
    - >
      sonar-scanner
      -Dsonar.projectKey=${PROJECT_KEY_FRONT}
      -Dsonar.sources=.
      -Dsonar.host.url=${SONARQUBE_URL}
      -Dsonar.login=${LOGIN_FRONT}
      -Dsonar.projectName=13_ЗАЧИТАЙЛОВАНДРЕЙ_ФРОНТЕНД
  cache:
    paths:
      - .npm/ # для хранения зависимостей сборки фронтенда

Update backend/src/main/resources/application.properties
  backend/src/main/resources/application.properties
Due: none

Update frontend/frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

Update frontend/frontend_deploy.sh, backend/backend_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

Update backend/backend_deploy.sh
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update frontend/Dockerfile
  frontend/Dockerfile
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

Update backend/backend_deploy.sh, backend/.gitlab-ci.yml, frontend/frontend_deploy.sh, frontend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/.gitlab-ci.yml, backend/backend_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/backend_deploy.sh, backend/.gitlab-ci.yml, frontend/.gitlab-ci.yml, frontend/frontend_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

URL Images
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

Correct url images
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

syntax fix
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

vault
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/src/test/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

vaultG
  backend/.gitlab-ci.yml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

magic
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

magic1
  backend/src/main/resources/application.properties
Due: none

magic env
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

magec100500
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/backend_deploy.sh, backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend
