Repository Pkonline123/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
    - backend/target/sausage-store-${VERSION}.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

pachca-notification-backend:
  stage: notify
  script:
  ...

pachca-notification-frontend:
  stage: notify
  script:
  ...

Update frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/deploy.sh
  backend/deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/.gitlab-ci.yml, frontend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, pachca-notification-backend, pachca-notification-frontend

Update frontend/.gitlab-ci.yml, frontend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

Update frontend/deploy.sh
  frontend/deploy.sh
Due: build-frontend-code-job, upload-frontend-release, pachca-notification-frontend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/src/main/resources/db/migration/V002__change_product_table.sql
  backend/src/main/resources/db/migration/V002__change_product_table.sql
Due: none

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/src/test/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

Update backend/sausage-store-backend.service, backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
Due: none

Update backend/src/main/resources/application.properties
  backend/src/main/resources/application.properties
Due: none

Update backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: none

Update backend/sausage-store-backend.service, backend/deploy.sh, backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Update backend/deploy.sh, backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: build-backend-code-job, upload-backend-release, pachca-notification-backend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  upload-backend-release: any of: backend/*
  upload-frontend-release: any of: frontend/*
  pachca-notification-backend: any of: backend/*
  pachca-notification-frontend: any of: frontend/*
